# Dependencies
node_modules/
package-lock.json

# Environment & logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
